!!! 5
%html
  %head
    %meta{'charset' => 'UTF-8'}/
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=IE9,chrome=1'}/
    %title Chatter

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    = yield(:head)
    = csrf_meta_tags

%body.frame_layout
  = yield
